absl-py==2.1.0
aiodns==3.2.0
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1710511598005/work
aiohttp-retry==2.8.3
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
altair==5.3.0
annotated-types @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_fbh4enbns2/croot/annotated-types_1709542919423/work
anyascii==0.3.2
anyio @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_646d7rz2z6/croot/anyio_1706220176177/work
appdirs==1.4.4
astunparse==1.6.3
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
audioread==3.0.1
Babel==2.14.0
backoff==2.2.1
bangla==0.0.2
bcrypt==4.1.2
beautifulsoup4==4.12.3
blinker==1.7.0
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.6
boto3==1.34.79
botocore==1.34.79
Bottleneck @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_cfe9itj_y_/croot/bottleneck_1707864223016/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1687884187023/work
cachetools==5.3.3
catalogue==2.0.10
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi==1.16.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
confection==0.1.4
contourpy==1.2.0
coqpit==0.0.17
cryptography==42.0.5
cycler==0.12.1
cymem==2.0.8
Cython==3.0.9
dataclasses-json @ file:///home/conda/feedstock_root/build_artifacts/dataclasses-json_1706837029949/work
datasets==2.18.0
dateparser==1.1.8
decorator==5.1.1
dill==0.3.8
distro @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_e85zz_84gd/croot/distro_1701455023959/work
dlib==19.24.2
dnspython==2.6.1
docopt==0.6.2
einops==0.7.0
email_validator==2.1.1
encodec==0.1.1
face-recognition==1.3.0
face-recognition-models==0.3.0
faiss-cpu==1.8.0
fastapi==0.110.1
feedparser==6.0.11
filelock @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_cd61an5em3/croot/filelock_1700591192468/work
Flask==3.0.2
flatbuffers==24.3.25
fonttools==4.50.0
frozendict==2.4.2
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1702645554026/work
fsspec==2024.2.0
g2pkk==0.1.2
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
gmpy2 @ file:///Users/ec2-user/ci_py311/gmpy2_1678380831980/work
google-pasta==0.2.0
greenlet @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_10cuim1il_/croot/greenlet_1702059962773/work
grpcio==1.62.1
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
h11 @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_14h6x3q_k6/croot/h11_1706652288187/work
h5py==3.10.0
hangul-romanize==0.1.0
html5lib==1.1
httpcore @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_2ek8c13vuv/croot/httpcore_1706728466947/work
httptools==0.6.1
httpx @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_67v456zufa/croot/httpx_1706887110127/work
huggingface-hub==0.21.4
idna @ file:///Users/ec2-user/ci_py311/idna_1678315819133/work
inflect==7.0.0
inquirerpy==0.3.4
itsdangerous==2.1.2
jamo==0.4.1
jieba==0.42.1
Jinja2 @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_524l12w9yv/croot/jinja2_1706733629737/work
jmespath==1.0.1
joblib==1.3.2
jsonlines==1.2.0
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1695397504491/work
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keras==3.1.1
kiwisolver==1.4.5
langchain==0.1.16
langchain-community==0.0.34
langchain-core @ file:///home/conda/feedstock_root/build_artifacts/langchain-core_1713555024285/work
langchain-openai==0.1.1
langchain-text-splitters @ file:///home/conda/feedstock_root/build_artifacts/langchain-text-splitters_1709389732771/work
langchainhub==0.1.15
langcodes==3.3.0
langsmith @ file:///home/conda/feedstock_root/build_artifacts/langsmith_1710573559062/work
lazy_loader==0.3
libclang==18.1.1
librosa==0.10.1
llvmlite==0.42.0
lxml==5.2.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow @ file:///home/conda/feedstock_root/build_artifacts/marshmallow_1709595108657/work
matplotlib==3.8.3
mdurl==0.1.2
mkl-fft @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_af8wl3mjfu/croot/mkl_fft_1695058185839/work
mkl-random @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_0fq2s894lk/croot/mkl_random_1695059822529/work
mkl-service==2.4.0
ml-dtypes==0.3.2
more-itertools==10.2.0
mpmath @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_8fyoqwupl2/croot/mpmath_1690848275746/work
msgpack==1.0.8
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1707040764069/work
multiprocess==0.70.16
multitasking==0.0.11
murmurhash==1.0.10
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1675543315189/work
namex==0.0.7
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
nltk==3.8.1
num2words==0.5.13
numba==0.59.0
numexpr @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_c2pokmr868/croot/numexpr_1696515300257/work
numpy==1.26.4
openai==1.14.3
openai-whisper==20231117
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.11.0
orjson @ file:///Users/runner/miniforge3/conda-bld/orjson_1708717225545/work/target/wheels/orjson-3.9.15-cp311-cp311-macosx_10_12_x86_64.whl#sha256=16a3825076909d9b8f3be9683ec2c3d47ab94f8ddffe3988108f6e3bb5620ff0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==1.5.3
pandas-stubs @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_cb1dw19xmq/croot/pandas-stubs_1705008085544/work
paramiko==3.4.0
peewee==3.17.3
pfzy==0.3.4
piexif==1.1.3
pillow @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_f8zh99mhe_/croot/pillow_1707233029679/work
platformdirs==4.2.0
pooch==1.8.1
preshed==3.0.9
prettytable==3.10.0
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
pvporcupine==3.0.2
py-cpuinfo==9.0.0
pyarrow==15.0.2
pyarrow-hotfix==0.6
PyAudio==0.2.11
pycares==4.4.0
pycparser==2.21
pydantic @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_b0i6bkso_m/croot/pydantic_1709577983881/work
pydantic-extra-types==2.6.0
pydantic-settings==2.2.1
pydantic_core @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_9fzsx664y3/croot/pydantic-core_1709573976356/work
pydeck==0.8.1b0
pydub==0.25.1
Pygments==2.17.2
PyNaCl==1.5.0
pynndescent==0.5.11
pyparsing==3.1.2
pypinyin==0.51.0
pysbd==0.3.4
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-crfsuite==0.9.10
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.1
python-multipart==0.0.9
pytz @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_e0y2h1cdsw/croot/pytz_1695131602326/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1695373551341/work
referencing==0.34.0
regex==2023.12.25
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rich==13.7.1
rpds-py==0.18.0
runpod==1.6.2
s3transfer==0.10.1
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
sentencepiece==0.2.0
sgmllib3k==1.0.0
simpleaudio==1.0.4
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==6.4.0
smmap==5.0.1
sniffio @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_a46njf828g/croot/sniffio_1705431298111/work
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1709646569724/work
srsly==2.4.8
starlette==0.37.2
streamlit==1.32.2
SudachiDict-core==20240109
SudachiPy==0.6.8
sympy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_94zd__m8ro/croot/sympy_1701397645431/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1692026804430/work
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
textblob==0.18.0.post0
thinc==8.2.3
threadpoolctl==3.4.0
tiktoken==0.6.0
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.4
toolz==0.12.1
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
tornado==6.4
tqdm @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_03acd6t6ca/croot/tqdm_1679561866522/work
tqdm-loggable==0.2
trainer==0.0.36
transformers==4.39.0
TTS==0.22.0
typer==0.9.0
types-pytz @ file:///Users/ec2-user/ci_py311/types-pytz_1678394832420/work
types-requests==2.31.0.20240406
typing-inspect @ file:///home/conda/feedstock_root/build_artifacts/typing_inspect_1685820062773/work
typing_extensions @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_31f_f02huc/croot/typing_extensions_1705599310686/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
tzlocal==5.2
ujson==5.9.0
umap-learn==0.5.5
Unidecode==1.3.8
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
uvicorn==0.29.0
uvloop==0.19.0
wasabi==1.1.2
watchdog==4.0.0
watchfiles==0.21.0
wcwidth==0.2.13
weasel==0.3.4
webencodings==0.5.1
webrtcvad==2.0.10
websockets==12.0
Werkzeug==3.0.1
wrapt==1.16.0
xxhash==3.4.1
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1705508336392/work
yfinance==0.2.38
